.about {
    padding: 110px 70px 100px ;
    /* box-sizing: border-box;
    max-width: 1280px; */
    /* border: 1px green solid; */
}

.about__title {
    font-family: inherit;
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 27px;
    letter-spacing: -0.04em;
    text-align: left;
    padding: 0 0 23px 0;
    margin: 0;
    border-bottom: 1px solid #000000;
}

.about__description {
    display: flex;
}

.about__description-item {
    padding: 70px 0 0 0;
    margin: 0 52px 0 0;
}

.about__description-item:nth-last-of-type(1) {
    margin: 0;
}

.about__description-title {
    font-family: inherit;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24.2px;
    letter-spacing: -0.04em;
    text-align: left;
    margin: 0;
}

.about__description-text {
    font-family: inherit;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    margin: 0;
    padding: 26px 0 0 0;
}

.about__timeline {    
    display: grid;
    grid-template-columns: 20% 80%;
    padding: 110px 0 0 0;
}

.about__timeline-item {
    text-align: center;
} 

/* .about__timeline-item_left-position {

}

.about__timeline-item_right-position {

} */

.about__timeline-text { 
    font-family: inherit;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    text-align: center;

    display: flex;
    justify-content: center;
    align-items: center;
    height: 36px;
    margin: 0;
} 

.about__timeline-text_black-style {
 color: #FFFFFF;
 background-color: #000000;

}

.about__timeline-text_grey-style {
 background-color: #F2F2F2;
}

.about__timeline-text_white-style {
 color: #A0A0A0;
 padding: 5px 0 0 0;
}

@media screen and (max-width: 768px) {
    .about {
      padding: 90px 50px 80px;
    }

    .about__description-item {
        padding: 70px 0 0 0;
        margin: 0 35px 0 0;
    }

    .about__description-text {
        font-size: 12px;
        line-height: 18px;
        padding: 22px 0 0 0;
    }

    .about__timeline {    
        grid-template-columns: 21% 79%;
        padding: 93px 0 0 0;
    }

}

@media screen and (max-width: 700px) {

    .about__description {
        flex-direction: column;
    }
}

@media screen and (max-width: 600px) {
    .about {
        padding: 70px 18px;
    }

    .about__title {
       padding: 0 0 28px 0;
    }

    .about__description-item {
        padding: 60px 0 0 0;
        margin: 0;
    }

    .about__description-item:nth-last-of-type(1) {
        padding: 56px 0 0 0;
    }

    .about__description-text {
        padding: 16px 0 0 0;
    }

    .about__timeline {    
        padding: 59px 0 0 0;
    }

}

@media screen and (max-width: 320px) {
    /* .about {
        padding: 70px 14px;
    } */

    .about__title {
        font-size: 18px;
        line-height: 22px;
    }

   
    .about__description {  /* отпустить,  когда найду баг */
        max-width: 284px;
    }

    .about__description-title {
        font-size: 18px;
        line-height: 22px;
    }

    .about__description-text {
        font-size: 11px;
        line-height: 16px;
    }
    
    .about__timeline-text { 
        font-size: 11px;
        line-height: 13px;
        height: 35px;
    } 

    .about__timeline {    
        grid-template-columns: 35% 65%;
    }

    .about__timeline-text_white-style {
        padding: 0;
       }
}