.navigation {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    min-width: 320px;
    width: 100%;
    min-height: 100vh;
    background-color: rgb(0, 0, 0, .3);
    visibility: hidden;
    /* transition: visibility 0s, opacity .3s linear;
    opacity: 0; */
    z-index: 1;
    right: 0;
    top: 0;
}

.navigation_visible {
    visibility: visible;
    opacity: 1;
}

.navigation__container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    max-width: 520px;
    width: 100%;
    min-height: 100vh;
    background-color: #FFFFFF;
    z-index: 0;
    right: 0;
    top: 0;
}

.navigation__button{
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    
}

.navigation__button_type_close{
    position: absolute;
    background-image: url(../../images/close.svg);
    background-color: #FFFFFF;
    background-repeat: no-repeat;
    background-size: cover;
    height: 22px;
    width: 22px;
    border: none;
    outline: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
    transition: opacity 0.3s ease-in-out;
    margin: 27px 27px 0 0;

    right: 0;
    top: 0;

}
.navigation__button_type_close:hover {
    opacity: 0.5;
}

.navigation__links {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 340px;
    width: 100%;
    margin: 0;
    padding: 0;
    
}

.navigation__link {
    font-family: inherit;
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 22px;
    color: #000000;
    text-decoration: none;
    padding: 6px 0;
    margin: 0 0 28px;
    cursor: pointer;
    border-bottom: 2px solid transparent;
  transition: .2s all ease-in-out;
}

.navigation__link:hover {
    border-color: #000000;
  }

.navigation__account-link {
    display: flex;
    align-items: center;
    font-family: inherit;
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 16px;
color: #000000;
    text-decoration: none;
    cursor: pointer;
    transition: opacity 0.3s ease-in-out;

}

.navigation__account-link:hover {
    opacity: 0.5;
}

.navigation__button_type_account {
    justify-content: space-between;
    padding: 0 0 92px 0;
}

.navigation__img-account {
    background: #F9F9F9;
    background-image: url(../../images/account.svg);
    height: 30px;
    width: 26px;
    border: none;
    outline: none; 
    border-radius: 4px;
    display: block;
    background-repeat: no-repeat;
    float: right;
    background-position: center;
    margin: 0 0 0 17px;
}


@media screen and (max-width: 600px) {
    

    .navigation__button_type_close{
        margin: 18px 18px 0 0;
    }

    .navigation__link {
        padding: 6px 0;
        margin: 0 0 24px;
    }

    .navigation__links {
        max-width: 300px;
        
    }

    .navigation__container {
        max-width: 320px;
        width: 100%;
    
    }
  }